table {
	border-collapse: collapse;
	margin: 0 auto;
}
#map {
	border:1px solid black;
	vertical-align: top;
	background-color:grey;
	width:459px;
	height:458px;
}
td:not(.clear) {
	border:1px solid black;
	text-align: center;
	vertical-align: top;
	background-color:grey;
}
body {
	overflow: hidden;
	background-color: black;
}
.divBtn {
	border:1px solid white;
	padding:4px;
	background-color: black;
	color:white;
}
.divBtn:hover {
	text-decoration: underline;
}
#wrap {
	width:972px;
	margin:0 auto;
}
#container {
	width:460px;
	height:460px;
	overflow:hidden;
	float:left;
	height:100%;
	border:1px solid white;
}
#log, #stats {
	padding:5px;
	float:left;
	overflow: hidden;
	color:white;
	width:25%;
	text-align:left;
	border:1px solid white;
	height:450px;
}
h2, h1, h3, h4, h5, h6 {
	text-align: center;
	color:white;
}
td.map {
	background-color:#DDD;
}
td.map:hover {
	background-color: grey;
}
.health {
	height:12px;
	position:relative;
	width:50%;
	display:inline-block;
}
.health > span {
	display: block;
	height: 100%;
	background-color: white;
	position: relative;
	overflow: hidden;
}
#overlay {
	visibility:hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    z-index: 99;
    background:rgba(0, 0, 0, 0.8);
}
.modal {
    width:300px;
    height:350px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    z-index: 100;
}
.battleLog {
	width:275px;
	height:225px;
	overflow:hidden;
	border:1px solid black;
	margin:0 auto;
	position: relative;
	text-align: left;
	overflow:scroll;
}
.button {
	position: relative;
	text-align: center;
	border: 1px solid black;
	width: 100px;
	margin-bottom: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
.battleAction {
	display:inline-block;
	margin:3px;
}
.battleAction:hover { 
	text-decoration: underline; 
}
#hp_percent {
	width:100%;
	transition-duration:0.30s;
}
.enemyStats {
	vertical-align: bottom;
	margin:0 auto;
	position: absolute;
	bottom:0;
	width:100%;
	text-align:center;
	z-index:9999;
}
#footer {
	position:absolute;
	bottom:0;
	width:95%;
	height:20px;
	color:white;
}