<!DOCTYPE html>
<html>
	<head>
	<title>Create Account</title>
	<link rel="stylesheet" href="../css/zombie.css">
</head>
<body>
	<h1>Source Undead</h1>
	<div id="error"></div>
	<form name="createForm" id="create">
		<div>
			<div>
				<label class="label">Username:</label>
				<input type="text" name="username" placeholder="Username..." required />
			</div>
			<div>
				<label class="label">Password:</label>
				<input type="password" name="password" placeholder="Password..." required />
			</div>
			<div>
				<label class="label">Confirm Password:</label>
				<input type="password" name="confirm" placeholder="Confirm Password..." required />
			</div>
			<div>
				<label class="label">Email Address:</label>
				<input type="email" name="email" placeholder="Email..." required />
			</div>
			<div>
				<label class="label">&nbsp;</label>
				<button class="divBtn">Create Account</button>
				<small>
					<span class="inSpan">Already have an account? <a href="/">Return to Login</a></span>
				</small>
			</div>
		</div>
	</form>
</body>
</html>