<!DOCTYPE html>
<html>
	<head>
		<title>Create Account</title>
		<link rel="stylesheet" href="../css/skeleton.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/zombie.css">
		<style>
			.container {
				max-width:800px;
			}
		</style>
	</head>
	<body>
		<h2>SourceUndead</h2>
		<div id="error"></div>
		<div class="container">
			<form>
				<div class="row">
					<div class="twelve columns">
						<label for="name">Username</label>
						<input class="u-full-width" id="name" type="text" placeholder="Username">
					</div>
				</div>

				<div class="row">
					<div class="twelve columns">
						<label for="password">Password</label>
						<input class="u-full-width" id="password" type="password" placeholder="Password">
					</div>
				</div>

				<div class="row">
					<div class="twelve columns">
						<label for="email">Email Address</label>
						<input class="u-full-width" id="email" type="email" placeholder="Email Address">
					</div>
				</div>

				<div class="row">
					<div class="twelve columns">
						<button id="createAccount" class="u-full-width button">Submit</button>
					</div>
				</div>
	
				<div class="row">
					<div class="twelve columns">
						<small>Already have an account? <a href="/login">Return to Login</a></small>
					</div>
				</div>
			</form>
		</div>
		<script src="../js/functions.js"></script>
		<script src="../js/createAccount.js"></script>
	</body>
</html>
