<!DOCTYPE html>
<html>
	<head>
		<title>Create Account</title>
		<link rel="stylesheet" href="../css/pure.min.css">
		<link rel="stylesheet" href="../css/zombie.css">
	</head>
	<body>
		<h2>Source Undead :: Create Account</h2>
		<div id="error"></div>
		<div class="content">
			<form class="pure-form pure-form-aligned" name="createForm" id="create">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">Username</label>
						<input class="pure-input-1-2" id="name" type="text" placeholder="Username">
					</div>

					<div class="pure-control-group">
						<label for="password">Password</label>
						<input class="pure-input-1-2" id="password" type="password" placeholder="Password">
					</div>

					<div class="pure-control-group">
						<label for="email">Email Address</label>
						<input class="pure-input-1-2" id="email" type="email" placeholder="Email Address">
					</div>

					<div class="pure-controls">
						<button id="createAccount" class="pure-button pure-button-primary">Submit</button>
						<small>
							<span class="inSpan">Already have an account? <a href="/">Return to Login</a></span>
						</small>
					</div>
				</fieldset>
			</form>
		</div>
		<script>
			"use strict";
			window.onload = () => document.getElementById("name").focus();
			document.getElementById("createAccount").addEventListener("click", event => {
				event.preventDefault();
				let username = document.getElementById("name").value;
				let password = document.getElementById("password").value;
				let email = document.getElementById("email").value;
				let showError = document.getElementById("error");
				let error = 0;
				let errorMsg = "";
				console.log(username.length, password.length);
				if (username.length < 3) {
					error++;
					errorMsg += " Username must be longer than 3 characters.";
				}
				if (password.length < 8) {
					error++;
					errorMsg += " Password must be 8 or more characters.";
				}
				if (!(/\S+@\S+\.\S+/.test(email))) {
					error++;
					errorMsg += " Please enter a valid email@address.com.";
				}

				if (error) {
					showError.classList.add("error");
					showError.textContent = errorMsg;
				}
			});
		</script>
	</body>
</html>