<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../css/skeleton.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/zombie.css">
	</head>
	<body>
		<div id="layout">
			<div id="menu">
				<div class="pure-menu">
					<span class="pure-menu-heading">Player Menu</span>
					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a href="#" class="pure-menu-link">Join Game</a></li>
						<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
					</ul>
				</div>
			</div>
			<div class="container">
				<div class="header">
					<h1>SourceUndead</h1>
					<h2>Landing Page</h2>
				</div>
		
				<div class="content">
					LOREM IPSUM BITCH        
				</div>
			</div>
		</div>
	</body>
</html>

