<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="../css/skeleton.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/zombie.css">
		<style>
			.container {
				max-width:800px;
			}
		</style>
	</head>
	<body>
		<h2>SourceUndead</h2>
		<div id="error"></div>
		<div class="container">
			<form>
				<div class="row">
					<div class="twelve columns">
						<label for="name">Username</label>
						<input class="u-full-width" id="name" type="text" placeholder="Username">
					</div>
				</div>

				<div class="row">
					<div class="twelve columns">
						<label for="password">Password</label>
						<input class="u-full-width" id="password" type="password" placeholder="Password">
					</div>
				</div>

				<div class="row">
					<div class="twelve columns">
						<div class="u-full-width">
							<button id="login" class="button">Submit</button>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="twelve columns">
						<div class="u-full-width">
							<small>Don't have an account? <a href="/create">Create An Account</a>!</small>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
	<script src="../js/functions.js"></script>
	<script src="../js/login.js"></script>
</html>
