<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="../css/pure.min.css">
		<link rel="stylesheet" href="../css/zombie.css">
	</head>
	<body>
		<h2>Source Undead :: Login</h2>
		<div id="error"></div>
		<div class="content">
			<form class="pure-form pure-form-aligned" name="loginForm" id="login">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">Username</label>
						<input class="pure-input-1-2" id="name" type="text" placeholder="Username">
					</div>

					<div class="pure-control-group">
						<label for="password">Password</label>
						<input class="pure-input-1-2" id="password" type="password" placeholder="Password">
					</div>

					<div class="pure-controls">
						<button type="submit" class="pure-button pure-button-primary">Submit</button>
						<small>
							<span class="inSpan">Don't have an account? <a href="/create">Create An Account</a>!</span>
						</small>
					</div>
				</fieldset>
			</form>
		</div>
	</body>
	<script>
		window.onload = () => document.getElementById("name").focus();
	</script>
</html>