<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="../css/pure.min.css">
		<link rel="stylesheet" href="../css/zombie.css">
	</head>
	<body>
		<h2>Source Undead :: Login</h2>
		<div id="error"></div>
		<div class="content">
			<form class="pure-form pure-form-aligned">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">Username</label>
						<input class="pure-input-1-2" id="name" type="text" placeholder="Username">
					</div>

					<div class="pure-control-group">
						<label for="password">Password</label>
						<input class="pure-input-1-2" id="password" type="password" placeholder="Password">
					</div>

					<div class="pure-controls">
						<button id="login" class="pure-button pure-button-primary">Submit</button>
					</div>
					<div class="pure-controls">
						<small>Don't have an account? <a href="/create">Create An Account</a>!</small>
					</div>
				</fieldset>
			</form>
		</div>
	</body>
	<script src="../js/functions.js"></script>
	<script>
		"use strict";
		//focus on initial input when page loads
		window.onload = () => document.getElementById("name").focus();
		document.getElementById("login").addEventListener("click", event => {
			//stop that event!
			event.preventDefault();

			//grab DOM elements for validation
			let username = document.getElementById("name").value;
			let password = document.getElementById("password").value;
			let showError = document.getElementById("error");
			let error = 0; //track number of errors
			let errorMsg = ""; //append to me!

			//check input length (basic validation)
			if (validateInputLength(username, 3)) {
				error++;
				errorMsg += " Usernames must be 3 or more characters."
			}
			if (validateInputLength(password, 8)) {
				error++;
				errorMsg += " Passwords must be 8 or more characters."
			}

			//if error, display it
			if (error) {
				showError.classList.add("error");
				showError.textContent = errorMsg;
			} else {
				//call xhr with form data
				xhr({
					url : "/login",
					data :`user=${username}&pass=${password}`,
					method: "POST"
				}).then(data => {
					//parse response and display success/error message
					let response = JSON.parse(data);
					console.log(data);
					if (response["flag"] === true) toggleError(showError, "success", "error");
					else toggleError(showError, "error", "success");
					showError.textContent = response["msg"];
					if (response["flag"] === false) {
						console.log("redirecting to index");
						setTimeout(() => window.location.href = "/", 2000);
					}
				});
			}
		}, false);
	</script>
</html>