<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="css/zombie.css">
	</head>
	<body>
		<div class="header twelve columns">
			<h1>SourceUndead</h1>
		</div>
		<div class="game">
			<div class="twelve columns full-page">
				<div class="nine columns stats full-page">
					<div class="ten columns full-page">
						<div id="grid">
							<div class="grid-element" data-direction="nw"></div>
							<div class="grid-element" data-direction="n"></div>
							<div class="grid-element" data-direction="ne"></div>
							<div class="grid-element" data-direction="w"></div>
							<div class="grid-element" data-direction="null"></div>
							<div class="grid-element" data-direction="e"></div>
							<div class="grid-element" data-direction="sw"></div>
							<div class="grid-element" data-direction="s"></div>
							<div class="grid-element" data-direction="se"></div>
						</div>
					</div>
				</div>
				<div class="three columns menu full-page">
					<div class="split-menu-top twelve columns">
						<h5>Game Actions</h5>
					</div>
					<div class="split-menu-bottom log twelve columns">
						<h5>Event Log</h5>
						<div id="log"></div>
					</div>
				</div>
			</div>
			<div class="footer twelve columns">
				<div>
					<a href="https://github.com/RUJodan/SourceUndead">Follow this game on GitHub!</a>
				</div>
				<div class="menu-item">
					<i class=" fa fa-power-off"></i><a href="/logout">Logout</a>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
		<script>
			(() => {
				"use strict";
				const socket = io();
				socket.on("somethingelse", (data) => {
					let log = document.getElementById("log");

					let wrapper = document.createElement("div");
					wrapper.classList.add("log-item");
					wrapper.classList.add("twelve");
					wrapper.classList.add("columns");

					let icon = document.createElement("i");
					icon.classList.add("menu-option-log");
					icon.classList.add("fa");
					icon.classList.add("fa-plus");

					let text = document.createElement("span");
					text.textContent = data.msg;

					wrapper.appendChild(icon);
					wrapper.appendChild(text);

					const lastLog = document.querySelector(".log-item")
					log.insertBefore(wrapper, lastLog);
				});
				Array.from(document.getElementsByClassName("grid-element")).forEach(element => {
					element.addEventListener("click", (event) => {
						socket.emit("move", {direction : event.target.getAttribute("data-direction")});
					});
				});
			})();
		</script>
	</body>
</html>