<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="css/zombie.css">
	</head>
	<body>
		<div class="header twelve columns">
			<h1>SourceUndead</h1>
		</div>
		<div class="twelve columns full-page">
			<div class="three columns menu full-page">
				<div class="split-menu-top">
					<h5>Game Actions</h5>
					<div class="menu-item twelve columns">
						<i class="menu-option fa fa-gamepad fa-2x"></i><a href="/join" class="menu-option-text">Start Game</a>
					</div>
					<div class="menu-item twelve columns">
						<i class="menu-option fa fa-power-off fa-2x"></i><a href="/logout" class="menu-option-text">Logout</a>
					</div>
				</div>
				<hr />
				<div class="split-menu-bottom log">
					<h5>Event Log</h5>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>This is a log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>This is a log another item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Gimme more log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Fuck yo log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Dat log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Mother fucking log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Hashtag log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Kendall's log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Canadian Log Item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Rejected log item</span>
					</div>
					<div class="log-item twelve columns">
						<i class="menu-option-log fa fa-feed"></i><span>Mighty morphing log item</span>
					</div>
				</div>
			</div>
			<div class="nine columns stats">
				<div class="ten columns">
					<fieldset>
						<legend>General Statistics</legend>      
					</fieldset>

					<fieldset>
						<legend>Stats as Human</legend>      
					</fieldset>

					<fieldset>
						<legend>Stats as Zombie</legend>      
					</fieldset>
				</div>
			</div>
		</div>
		<div class="footer twelve columns">
			<div>
				<a href="https://github.com/RUJodan/SourceUndead">Follow this game on GitHub!</a>
			</div>
		</div>
	</body>
</html>