<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="css/zombie.css">
	</head>
	<body>
		<div class="header twelve columns">
			<h1>SourceUndead</h1>
		</div>
		<div class="game">
			<div class="twelve columns full-page">
				<div class="nine columns stats full-page">
					<div class="ten columns full-page">
						<div id="grid">
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
							<div class="grid-element"></div>
						</div>
					</div>
				</div>
				<div class="three columns menu full-page">
					<div class="split-menu-top twelve columns">
						<h5>Game Actions</h5>
					</div>
					<div class="split-menu-bottom log twelve columns">
						<h5>Event Log</h5>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>This is a log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>This is a log another item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Gimme more log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Fuck yo log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Dat log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Mother fucking log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Hashtag log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Kendall's log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Canadian Log Item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Rejected log item</span>
						</div>
						<div class="log-item twelve columns">
							<i class="menu-option-log fa fa-plus"></i><span>Mighty morphing log item</span>
						</div>
					</div>
				</div>
			</div>
			<div class="footer twelve columns">
				<div>
					<a href="https://github.com/RUJodan/SourceUndead">Follow this game on GitHub!</a>
				</div>
				<div class="menu-item">
					<i class=" fa fa-power-off"></i><a href="/logout">Logout</a>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
		<script>
			var socket = io();
			socket.emit("something");
			socket.on("somethingelse", () => console.log("socket emitted clientside"));
		</script>
	</body>
</html>