html {
	height:100%;
}
body { 
	height:100%;
	background-color:#303030;
	color:#BEBEBE;
}
input {
	color:black;
}
h1,h2,h3,h4,h5,h6 { 
	text-align: center; 
}
ul {
	list-style: disc inside none;
}
a { 
	color:gray;
}
a:hover {
	color:white;
}
.menu {
	padding-left:15px;
	padding-top:10px;
	background-color:#1A1A1A;
}
.full-page {
	height:95%;
}
.header {
	height:75px;
	background-color: black;
}
.footer {
	height:75px;
	position:absolute;
	bottom:0;
	background-color: black;
	text-align:center;
}
.stats {
	padding-top: 25px
}
@media (max-width: 550px) {
	.full-page {
		height:auto;
	}
}