html {
	height:100%;
}
body { 
	height:100%;
	background-color:#303030;
	color:#BEBEBE;
}
input {
	color:black;
}
h1,h2,h3,h4,h5,h6 { 
	text-align: center; 
}
a { 
	color:gray;
}
a:hover {
	color:white;
}
ul {
	list-style:none;
}
.error {
	background: #852020;
	font-size: 100%;
	letter-spacing: 0.01em;
	color: white;
	text-align: center;
	height: 35px;
	vertical-align: center;
	padding-top: 1%;
}
.success {
	background: #387a1d;
	font-size: 100%;
	letter-spacing: 0.01em;
	color: white;
	text-align: center;
	height: 35px;
	vertical-align: center;
	padding-top: 1%;
}
.menu {
	padding-top:10px;
	background-color:#1A1A1A;
}
.full-page {
	height:auto;
}
.header {
	height:75px;
	background-color: black;
}
.footer {
	height:75px;
	position:absolute;
	bottom:0;
	background-color: black;
	text-align:center;
	padding-top:14px;
}
.stats {
	padding-top: 25px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:25px;
}
button, .button {
	color:gray;
}
button:hover, .button:hover {
	color:white;
}
.menu-option {
	float:left;
	width:25px;
}
.menu-option-text {
	padding-left:90px;
	font-size: large;
}
.menu-item {
	margin-top:5px;
	padding-top:15px;
	padding-left:20px;
	height:60px;
}
.menu-item:hover {
	background-color:black;
}
@media (min-width: 725px) {
	.full-page {
		height:95%;
	}
	.menu, .header {
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
	}
	.footer {
		-webkit-box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.75);
		box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.75);
		padding-top:15px;
	}
	ul {
		list-style: disc inside none;
	}
	.menu-option-text {
		padding-left:20px;
	}
}