body { 
	background-color:black;
	color:white;
}
input {
	color:black;
}
h1,h2,h3,h4,h5,h6 { 
	text-align: center; 
}
.error {
	background: #852020;
	font-size: 100%;
	letter-spacing: 0.01em;
	color: white;
	text-align: center;
	height: 35px;
	vertical-align: center;
	padding-top: 1%;
}
.success {
	background: #387a1d;
	font-size: 100%;
	letter-spacing: 0.01em;
	color: white;
	text-align: center;
	height: 35px;
	vertical-align: center;
	padding-top: 1%;
}
.content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 768px;
}
a:visited {
	color:white;
}
