<!DOCTYPE html>
<html ng-app="Zombie" ng-controller="createAccount">
	<head>
	<title ng-bind-template="Create Account{{title}}">Create Account</title>
	<link rel="stylesheet" href="../css/zombie.css">
</head>
<body>
	<h1>Source Undead</h1>
	<div ng-cloak ng-class="{ 'error-msg' : errorFlag == true, 'success-msg' : errorFlag == false }">{{errorMsg}}</div>
	<form name="createForm" ng-submit="createAccount(createForm.$valid)" novalidate>
		<div>
			<div>
				<label class="label">Username:</label>
				<input 
					ng-class="{ 'has-error' : createForm.username.$invalid && !createForm.username.$pristine }" 
					ng-model="form.username" 
					ng-minlength="3" 
					ng-maxlength="30" 
					type="text" 
					name="username" 
					placeholder="Username..." 
					required />
				<span ng-cloak class="error" ng-show="createForm.username.$error.required && createForm.username.$dirty">Username is required.</span>
				<span ng-cloak class="error" ng-show="createForm.username.$error.minlength">Usernames must be 3 or more characters.</span>
				<span ng-cloak class="error" ng-show="createForm.username.$error.maxlength">Usernames must be 30 or less characters.</span>
			</div>
			<div>
				<label class="label">Password:</label>
				<input 
					ng-class="{ 'has-error' : createForm.password.$invalid && !createForm.password.$pristine }" 
					ng-model="form.password" 
					ng-minlength="8" 
					ng-maxlength="32"
					type="password" 
					name="password" 
					placeholder="Password..." 
					required />
				<span ng-cloak class="error" ng-show="createForm.password.$error.required && createForm.password.$dirty">Password is required.</span>
				<span ng-cloak class="error" ng-show="createForm.password.$error.minlength">Password must be 8 or more characters.</span>
				<span ng-cloak class="error" ng-show="createForm.password.$error.maxlength">Password must be 32 or less characters.</span>
			</div>
			<div>
				<label class="label">Confirm Password:</label>
				<input 
					ng-class="{ 'has-error' : createForm.confirm.$invalid && !createForm.confirm.$pristine }" 
					ng-model="form.confirm"
					ng-minlength="8" 
					ng-maxlength="32"
					type="password" 
					name="confirm" 
					placeholder="Confirm Password..." 
					valid-matching-password 
					required />
				<span ng-cloak class="error" ng-show="createForm.confirm.$error.required && createForm.confirm.$dirty">Confirm your password.</span>
				<span ng-cloak class="error" ng-show="!createForm.confirm.$error.required && createForm.confirm.$error.noMatch && createForm.confirm.$dirty">Passwords do not match.</span>
			</div>
			<div>
				<label class="label">Email Address:</label>
				<input 
					ng-class="{ 'has-error' : createForm.email.$invalid && !createForm.email.$pristine }"
					ng-model="form.email" 
					type="email" 
					name="email" 
					placeholder="Email..." 
					required />
				<span ng-cloak class="error" ng-show="createForm.email.$error.required && createForm.email.$dirty">Email is required.</span>
			</div>
			<div>
				<label class="label">&nbsp;</label>
				<button class="divBtn" ng-disabled="createForm.$invalid">Create Account</button>
				<small>
					<span class="inSpan">Already have an account? <a href="/">Return to Login</a></span>
				</small>
			</div>
		</div>
	</form>
</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="../js/controller.js"></script>
</html>
