<!DOCTYPE html>
<html ng-app="Zombie" ng-controller="move">
	<head>
		<title ng-bind-template="SourceUndead{{title}}">SourceUndead</title>
		<a href="/logout">Logout</a>
		<link rel="stylesheet" href="../css/mmo.css" />
	</head>
	<body>
		<h1>SourceUndead</h1>
		<h3 ng-bind-template="{{location}}"></h3>
		<div id="wrap">
			<div id="stats">
				<div>
					HP: <span id="hp" ng-bind-template="{{currentHP}}"></span>/<span id="maxHP" ng-bind-template="{{maxHP}}"></span>
					<div class="health">
						<span ng-style="hpBar"></span>
					</div>
				</div>
				<div>
					Gold: <span id="gold">0</span>
				</div>
				<div>
					<h4>Navigation</h4>
					<table>
					<tr>
						<td><button class="divBtn" ng-click="move('nw')" id="nw">NW</button></td>
						<td><button class="divBtn" ng-click="move('n')" id="n">N</button></td>
						<td><button class="divBtn" ng-click="move('ne')" id="ne">NE</button></td>
					</tr>
					<tr>
						<td><button class="divBtn" ng-click="move('w')" id="w">W</button></td>
						<td class="clear">&nbsp;</td>
						<td><button class="divBtn" ng-click="move('e')" id="e">E</button></td>
					</tr>
					<tr>
						<td><button class="divBtn" ng-click="move('sw')" id="sw">SW</button></td>
						<td><button class="divBtn" ng-click="move('s')" id="s">S</button></td>
						<td><button class="divBtn" ng-click="move('se')" id="se">SE</button></td>
					</tr>
				</table>
				</div>
			</div>
			<div id="container">
				<div id="map" ng-controller="init">
					<ul>
						<li ng-bind-template="{{player.name}}" ng-bind-html-unsafe="getPlayer(player)" ng-repeat="player in players"></li>
					</ul>
				</div>
			</div>
			<div id="log">
				<h4>Event Log</h4>
				<ul id="events"></ul>
			</div>
		</div>
		<div id="footer">Follow me on <a href="https://github.com/RUJodan/zombie">GitHub!</a></div>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script src="../js/controller.js"></script>
		<script>
			io = io.connect();
			io.on("reloadXY",function() {
				io.emit("getXY");
				io.emit("getHP");
				io.emit("getGold");
			});
			io.emit("getXY");
			io.emit("getHP");
			io.emit("getGold");
			io.emit("stopDisconnection");
			io.on("event", function(obj) {
				var list = document.getElementById("events");
				var item = document.createElement("li");
				var node = document.createTextNode(obj.msg);
				item.appendChild(node);
				list.insertBefore(item,list.childNodes[0]);
			});
		</script>
	</body>
</html>